body {
  @include size(100%);
  position: relative;
  // overflow: hidden;
  main {
    min-height: 100vh;
  }
}

.grid {
  @include size(100%);
  position: fixed;
  top: 0;left: 0;right: 0;bottom: 0;
  display: flex;
  z-index: -1;


  > div {
    position: relative;
    width: calc(100% / 6);

    &:after {
      content: " ";
      width: 1px;
      height: 100%;
      background: rgba(148,148,148, .2);
      position: absolute;
      top: 0; bottom: 0;
      right: 0;
      z-index: 99999;
    }
    // border-right: 1px solid rgba(148,148,148, .2);

    &:before {
      content: " ";
      width: 100%;
      height: 100%;
      background: white;
      position: absolute;
      top: 0; right: 1px;
      z-index: 99988;
      @include transition(width 0.5s $ease-in-out-sine);
    }
    &.empty {
      &:before {
        width: 0;
      }
    }
  }

}

.btn {
  display: inline-block;
  position: relative;
  padding: 1.9rem 4.5rem;
  border: 2px solid $grey;

  font-size: 1.5rem;
  font-family: $base-font;
  font-weight: 800;
  letter-spacing: .075rem;
  text-align: center;
  text-decoration: none;

  background-color: transparent;

  &.white {
    color: white;
    border-color: white;
  }

}

.vertical-center {
  @include center(vertical);
}
.horizontal-center {
  @include center(horizontal);
}

.outer-title {
  display: inline-block;
  overflow: hidden;
  position: relative;

  > * {
    position: relative;
  }
}
.hidden {
  display: none !important;
}
.op0 {
  opacity: 0 !important;
}
.cta {
    color: black; 
    border-color: black;
    border-width: 1px;
    font-family: $contrast;
    text-align: left;
    font-size: 1.3rem;

    padding: 1.2rem 2.5rem;
    width: calc( (100vw / 6) - 5rem);
    min-width: 190px;
    position: fixed;
    // bottom: 15.8rem;
    bottom: 0;
    opacity: 0;

    &:first-child {
      left: $col1;
    }
    &:nth-child(2) {
      left: $col2;
    }

    @include media(max-width 1145px) {
    
      &:first-child {
        @include transform(translateY(-120%));
      }
      &:nth-child(2) {
        left: $col1;
      }
    }

    &:before {
      content: " ";
      @include size(0 100%);
      background:url('../images/arrow-right.svg') no-repeat center center;
      background-size: 3rem 1rem;
      display: block;
      position: absolute;
      right: 0;top:0;
      @include transition(width 0.2s $ease-out-expo);
    }
    &:hover {
      &:before {
        width: 5rem;
        @include transition(width 0.2s $ease-in-expo);
      }
    }
  }
