.languages {
	@include size(2rem 4rem);
	position: fixed;
	top: 3.5rem;right: 3.5rem;
	z-index: 9999;
	@include media($mobile) {
		right: initial;
		left: calc((100vw / 4) * 3);
		top: 2.8rem;
	}
	
	ul {
		@include size(100%);
		margin: 0;padding: 0;
		list-style-type: none;
		display: flex;
		flex-flow: column nowrap; 
		@include media($mobile) {
			flex-flow: row nowrap;
		}

		&:before {
			content: " ";
			@include size(.1rem 3rem);
			background:black;
			position: fixed;
			top: 0;
			right: 4.5rem;
		}
		&:after {
			content: " ";
			@include size(.2rem);
			background:black;
			position: fixed;
			top: 5.5rem;right: 4.5rem;
		}

		&:before, &:after {
			@include media($mobile) {
				display: none;
			}
		}

		li {
			display: block;
			@include size(2rem);
			text-align: center;
			margin-bottom: 1.2rem;
			order:2;
			@include transition(all 0.5s ease);

			a {
				display: inline-block;
				text-decoration: none;
				color: black; 

				font-family: $base-font;
				font-size: 1.2rem;
				letter-spacing: .1rem;

				@include transform(rotate(90deg));
				@include transition(none);
				@include media($mobile) {
					font-size: 1.5rem;
					@include transform(none);
				}
			}

			&.active {
				order:1;
				
				@include media($mobile) {
					margin-right: 2rem;
					// &:after {
					// 	content: "/";
					// 	position: absolute;
					// 	right: -1.1rem; top: .4rem;
					// }
				}
				
				a {
					font-family: $bold-font;
					@include transform(none);
				}
			}
		}

		&:hover {
			li.active {
				@include transform(rotate(180deg));
				transform-origin: center 150%;
				a {
					@include transform(rotate(-90deg));
				}
			}
			li:not(.active) {
				@include transform(rotate(180deg));
				margin-top: 0.2rem;
				transform-origin: center -50%;
				a {
					@include transform(rotate(180deg));
				}
			}
		}
	}
}