.gallery-title {
	position: absolute;
	left: $col4; top: 3.7rem;
	padding-left: 1rem;
	margin: 0;
	
	font-family: $base-font;
	color: black;
	font-size: 1.6rem;
	line-height: 1.6rem;
	text-transform: none;

	@include media($mobile) {
		left: calc(100vw / 4);
		padding-left: 0;
		margin-left: -1px;
		top: 3rem;
	}
}

#projects-gallery {
	position: absolute;
	width: calc(100% - 24rem); 
	height: calc(100vh - 20rem);
	top: 0 ;left: 0 ;
	bottom: 0 ;right: 0 ;
	margin: auto;
	@include media($mobile) {
		width: 100vw;
		height: 80vh;
	}

	&:before {
		content: " ";
	    position: fixed;
	    left: calc(16.66vw * 4);
	    width: .1rem;
	    height: calc(100vh - 10.2rem);
	    top: 3.7rem;
	    background: black;
	    z-index: 9999;
	    @include transition(height 1.5s $ease-out-expo);

	    @include media(max-width 1000px) {
	    	width: 1px;
	    }
	    @include media($mobile) {
	    	display: none;
	    }
	}
	&.no-line {
		&:before {
			height:0;
		}
	}
	.slick-list, .slick-track {
		@include size(100%);
		// position: static !important;
		// overflow: visible !important;
		.slick-slide {
			display: block !important;
		}
	}

	article {
		position: relative;
		z-index: 99;
		outline: none;

		h3,p {margin: 0;}

		.spacer {
			margin: 25rem 0;
		}

		.text {
			position: absolute;

			&.top {
				max-width: $col2;
				position: relative;
				top: 5rem;
    			left: 9.45%;
				@include media($mobile) {
					margin-top: 2rem;
				}
			}
			&.bottom {
				bottom: 5rem;
				left: 49%;
			}

			@include media($mobile) {
				position: static;
				margin: 0;
				max-width: 100%;
				margin-left: calc( ( 100vw / 4 ) * 2 );
				* {
					white-space: normal;
				}
			}

			h3 {
				text-align: right;
				text-transform: none;
				font-size: 4.25rem;
				line-height: 1.25;
				letter-spacing: .25rem;
				white-space: nowrap;

				margin: 0;
				padding-right: 1rem;
			    z-index: 9999;

				@include media(max-width 1150px) {
					font-size: 3.5rem;
				}
				@include media(max-width 768px) {
					font-size: 2rem;
				}
				@include media($mobile) {
					width: 100vw;
					position: relative;
					right: 0;
					white-space: normal;
				}
			}
			p {
				font-size: 1.2rem;
				color: black;
				font-family: $base-font;

				width: $col1;
				max-width: $col1;
				// float: right;
				// margin-left: 70%;
				padding-left: 1rem;
				padding-right: 1rem;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				@include clearfix;	

				@include media($mobile) {
					margin-left: 0;
					width: 100%;
					max-width: 100%;
					padding-left: 0;
				}
				a {
					font-size: 1.2rem;
					color: black;
					font-family: $base-font;
				}
			}
		}
	}


	.overlay {
		overflow-y:hidden;
		visibility: hidden;
		opacity: 0;

		@include size(100%);
		position: absolute;
		z-index: 999;
		background:rgba(255,255,255,0.6);
	}
}

.dots-container {
	@include size($col1 auto);
	position: absolute;
	left: $col4;
	bottom: 4rem;
	@include media($mobile) {
	    width: auto;
	    bottom: 10rem;
	    left: calc( (100% / 4) * 2);
	    margin-left: -2px;
	}

	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		display: flex;
		margin-left: -0.65rem;

		li {
			cursor: pointer;
			margin: 0.5rem;
			@include size(2rem);
			border-radius: 100%;
			position: relative;

			&:first-child {
				margin-left: 0;
			}
			@include transition(background-color 1s $ease-in-out-sine);
			&:hover {
				background:rgba(148,148,148,0.2);
			}
			
			&:before {
				content: " ";
				cursor: pointer;
				@include size(0.6rem);
				position: absolute;
				top: 0;left: 0;right: 0;bottom: 0;
				margin: auto;
				border-radius: 100%;
				background: black;
			}
			&.slick-visited { 
				&:not(:first-child) {
					&:after {
						content: " ";
						height:1px; 
						width: 1.1rem;
						background:black;
						position: absolute;
						top: 50%; right: 100%;
					}
				}
			}
			&.slick-active {
				border: 1px solid black; 

				&:before {
					background-color: #949494;
					opacity: .4;
				}
				&:not(:first-child) {
					&:after {
						content: " ";
						height:1px; 
						width: 1.1rem;
						background:black;
						position: absolute;
						top: 50%; right: 100%;
					}
				}
			}
		}

		button {
			@include size(100%);
			background: white;
			border: none; 
			@include appearance(none);
			visibility: hidden;
		}
	}
}