.menu-trigger {
	@include size(4rem);
	cursor: pointer;
	position: fixed;
	z-index: 999;
	top: calc(50vh - 2rem);
	left: 4rem;
	display: block;
	text-decoration: none;
    padding-top: 1rem;
    padding-left: .8rem;

    @include media($mobile) {
    	left: 1rem;
    }

	$burgerSliceHeight: .2rem;
	$burgerSliceRadius: .2rem;
	span {
		cursor: pointer;
		position: relative;
		display: inline-block;
		vertical-align: middle;
		background: black;
		border-radius: $burgerSliceRadius;
		height: $burgerSliceHeight;
		width: 2.4rem;
		
		@include transition(all 0.35s $ease-in-out-expo);
		&:before, 
		&:after {
			content: '';
			cursor: pointer;
			@include transition(all 0.35s $ease-in-out-expo);
			border-radius: $burgerSliceRadius;
			height: $burgerSliceHeight;
			width: 100%;
			left: 0;
			background: black;
			position: absolute;
			display: block;
		}

		&:before {
		  top: -.7rem; 
		}
		&:after {
		  top: .7rem;
		}
	}
	&.open {
		span {
			background-color: transparent;
			transform: rotate(45deg) translate(0%, -50%);

			&:before,
			&:after {
				top: 0em;
			}
			&:before {
				transform: rotate(90deg);
			}
			&:after {
				transform: rotate(-180deg);
			}
		}
	}
}

#menu {
	position: fixed;
	z-index: 99998;
	width: calc(100% - 24rem); 
	height: calc(100vh - 20rem);
	top: 0 ;left: 0 ;
	bottom: 0 ;right: 0 ;
	margin: auto;
	@include media($mobile) {
		width: 100vw;
		height: 100vh;
	}

	nav {
		@include size(100%);
		position: relative;
		@include media($desktop) {
			display: flex; 
		}

		a {
			width: 50%; height: 100%;
			text-decoration: none;
			font-size: 6rem;
			font-family: $contrast;
			color: black;
			text-align: center;

			span {@include center(vertical);}
			@include underlined(transparent, transparent);
			span::after { height: .3rem; }
			@include media($mobile) {
				span::after {
					display: none;
				}
			}
			
			&.active {
				@include underlined(black, black);
				span::after { height: .3rem; }
			}

			@include media($mobile) {
				display: block;
				width: 100vw;
				height: 50vh;
				> span {
					width: 100%;
					line-height: 40vh;
					text-align: center;
				}

				span {
					@include transform(none);
					top: 0;
				}
			}
		}
	}
}