.menu-trigger {
	@include size(4rem);
	cursor: pointer;
	position: fixed;
	z-index: 999;
	top: calc(50vh - 2rem);
	left: 4rem;
	display: block;
	text-decoration: none;
    padding-top: 1rem;
    padding-left: .8rem;

    @include media($mobile) {
    	left: 1rem;
    }

	$burgerSliceHeight: .2rem;
	$burgerSliceRadius: .2rem;
	span {
		cursor: pointer;
		position: relative;
		display: inline-block;
		vertical-align: middle;
		background: black;
		border-radius: $burgerSliceRadius;
		height: $burgerSliceHeight;
		width: 2.4rem;
		
		@include transition(all 0.35s $ease-in-out-expo);
		&:before, 
		&:after {
			content: '';
			cursor: pointer;
			@include transition(all 0.35s $ease-in-out-expo);
			border-radius: $burgerSliceRadius;
			height: $burgerSliceHeight;
			width: 100%;
			left: 0;
			background: black;
			position: absolute;
			display: block;
		}

		&:before {
		  top: -.7rem; 
		}
		&:after {
		  top: .7rem;
		}
	}
	&.open {
		span {
			background-color: transparent;
			transform: rotate(45deg) translate(0%, -50%);

			&:before,
			&:after {
				top: 0em;
			}
			&:before {
				transform: rotate(90deg);
			}
			&:after {
				transform: rotate(-180deg);
			}
		}
	}
}

#menu {
	@include size($col1 100%);
	position: absolute;
	z-index: 999;
	left: $col1;

	@include media($mobile) {
		width: 100vw;
	    left: 24.5%;
	}

	a {
		display: block;
	}
	p, a {
		text-decoration: none;
		font-size: 1.3rem;
		font-family: $contrast;
		color: black;
		line-height: 1.5;
		margin-bottom: 0;
		margin-top: 0;
	}
	.strong {
		font-family: $base-font;
		font-size: 1.8rem;
		letter-spacing: .1rem;
		margin-bottom: 2.5rem;
	}

	.id {
		margin-top: 10rem;
		margin-bottom: 7rem;
		p.strong {
			margin-bottom: 0;
		}
		> *:not(.strong) {
			color:#919191;
		}
	}

	nav {
		@include size(100%);
		position: relative;
		
		ul {
			list-style: none;
			li {
				a {
					color:#919191;
				}
				&:last-child {
					margin-bottom: 2.5rem;
				}
			}
		}
	}
}