.other {
	position: absolute;
	left: $col1; top: 92.5vh;
	padding-left: 0.75rem;
	margin: 0;
	
	font-family: $base-font;
	text-decoration: none;
	color: black;
	font-size: 1.6rem;
	line-height: 1.6rem;
	text-transform: none;


	&:before {
		content: " ";
	    position: absolute;
	    left: 0;
	    top: 0;
	    
	    width: .1rem;
	    height: 25rem;
	    
	    background: black;
	    z-index: 9999;
	    @include transition(height 1.5s $ease-out-expo);

	    @include media(max-width 1000px) {
	    	width: 1px;
	    }
	    @include media($mobile) {
	    	display: none;
	    }
	}
}

.other-projects {
	padding: 5rem 0;

	article {
		margin-bottom: 3rem;

		> a {
			@include size(100%);
			max-width: calc(16.77vw * 2);
			overflow: visible;
			display: block;
			overflow: auto;
			text-decoration: none;

			
			&:hover {
				img {
					opacity: .4;
    				@include transition(opacity 1.5s $ease-in-out-sine);
				}
			}

			@include media($mobile) {
				width: 100%;
				max-width: 100%;
			}
		}

		img {
		    max-width: calc(16.7vw * 2);
    		margin-left: .2rem;
    		@include transition(opacity 1.5s $ease-out-sine);
			
			@include media($mobile) {
				width: 100%;
				max-width: 100%;
				margin-left: 0;
			}
		}
		h4 {
			text-transform: none;
			font-size: 2.3rem;
			font-family: $contrast;
			margin-top: 3rem;
			margin-bottom: 1rem;
			line-height: 1;
			margin-left: $col1;
		}
		p {
			margin-top: 0;
			margin-bottom: 1rem;
			font-size: 1.2rem;
			color: $grey;
			line-height: 1;
			margin-left: $col1;
			white-space: nowrap;
		}
		&:nth-child(odd) {
			margin-left: $col1;
			img {
				margin-left: .1rem;
			}
			@include media($mobile) {
				margin-left: 0;
				h4, p {
					margin-left: calc(100vw / 4.08);
					img {
						margin-left: 0;
					}
				}
			}
		}
		&:nth-child(even) {
			margin-left: $col3;
			h4 {
				padding-left: .1rem;
			}
			p {
				padding-left: .2rem;
			}
			@include media($mobile) {
				margin-left: 0;
				h4, p {
					margin-left: calc(100vw / 4.08);
					padding-left: 0;
				}
			}
		}
	}
}