.gallery-title {
	position: absolute;
	left: $col4; top: 3.7rem;
	padding-left: 1rem;
	margin: 0;
	
	font-family: $base-font;
	color: black;
	font-size: 1.6rem;
	line-height: 1.6rem;
	text-transform: none;
}

#projects-gallery {
	position: absolute;
	width: calc(100% - 24rem); 
	height: calc(100vh - 20rem);
	top: 0 ;left: 0 ;
	bottom: 0 ;right: 0 ;
	margin: auto;

	&:before {
		content: " ";
	    position: fixed;
	    left: calc(16.66vw * 4);
	    width: .1rem;
	    height: calc(100vh - 10.2rem);
	    top: 3.7rem;
	    background: black;
	    z-index: 9999;
	    @include transition(height 1.5s $ease-out-expo);

	    @include media(max-width 1000px) {
	    	width: .2rem;
	    }
	}
	&.no-line {
		&:before {
			height:0;
		}
	}


	article {
		position: absolute !important;
		z-index: 99;
		top: 0 !important;left: 0 !important;
		bottom: 0 !important;right: 0 !important;
		outline: none;

		opacity: 0;
		&:first-child {
			opacity: 1;
		}
		.outer-title {
			float: right;
		}
		h3,p {margin: 0;}

		.text {
			position: absolute;
			right: $col2;
			margin-right: -12rem;

			&.top {
				top: 5rem;
			}
			&.bottom {
				bottom: 5rem;
			}

			h3 {
				text-align: right;
				text-transform: none;
				font-size: 6rem;
				line-height: 1.25;
				letter-spacing: .25rem;
				white-space: nowrap;

				margin: 0;
				padding-right: 1rem;
			    z-index: 9999;

				@include media(max-width 1370px) {
					font-size: 5rem;
				}
				@include media(max-width 1024px) {
					font-size: 4.5rem;
				}
				@include media(max-width 768px) {
					font-size: 4rem;
				}
				// @include media(max-width 1300px) {
				//     font-size: 4rem;
				//     line-height: 5.5rem;
				// }
				// @include media(max-width 1000px) {
				//     font-size: 6.5rem;
				//     line-height: 8rem;
				// }
			}
			p {
				font-size: 1.2rem;
				color: black;
				font-family: $base-font;

				width: $col1;
				max-width: $col1;
				float: right;
				margin-left: 70%;
				padding-left: 1rem;
				padding-right: 1rem;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				@include clearfix;

				// @include media(max-width 1000px) {
				//     font-size: 1.8rem;
				// }
				// @include media(max-width 768px) {
				// 	font-size: 4rem;
				// }				
			}
		}
	}


	.overlay {
		overflow-y:hidden;
		visibility: hidden;
		opacity: 0;

		@include size(100%);
		position: absolute;
		z-index: 999;
		background:rgba(255,255,255,0.6);
	}
}

.dots-container {
	@include size($col1 auto);
	position: absolute;
	left: $col4;
	bottom: 4rem;

	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		display: flex;
		margin-left: -0.65rem;

		li {
			cursor: pointer;
			margin: 0.5rem;
			@include size(2rem);
			border-radius: 100%;
			position: relative;

			&:first-child {
				border: 1px solid black; 
				margin-left: 0;
			}
			@include transition(background-color 1s $ease-in-out-sine);
			&:hover {
				background:rgba(148,148,148,0.2);
			}
			
			&:before {
				content: " ";
				cursor: pointer;
				@include size(0.6rem);
				position: absolute;
				top: 0;left: 0;right: 0;bottom: 0;
				margin: auto;
				border-radius: 100%;
				background: black;
			}

			&.slick-active {
				&:before {
					background-color: #949494;
					opacity: .4;
				}
			}
		}

		button {
			@include size(100%);
			background: white;
			border: none; 
			@include appearance(none);
			visibility: hidden;
		}
	}
}